@import '../Global/Colors.scss';
@import '../Global/Fonts.scss';

.logo{
    width: 10rem;
}

.navbar-nav{
    font-size: 1rem;
    
    .cartWidget{
        width: 2rem;
    }
}

#cardItemList{
    width: 12rem;
    height: 20rem;
    border: 1px solid $primary-color;
}

#cardButton{
    border: 1px solid $primary-color;
    color: $primary-color;
    width: 4rem;
    height: 2rem;
}

#addCart{
    @extend #cardButton;
    width: 100%;
}

#addCart:hover, #cardButton:hover{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: #FFF;
}
#cardCount{
    width: 12rem;
}

