@import '../Global/Scss/Fonts.scss';
@import '../Global/Scss/Colors.scss';

$rounded: 15px;

.btn:focus-visible{
    outline: 0;
    box-shadow: 0;
}

.btn-check:focus+.btn, 
.btn:focus {
    outline: 0;
    box-shadow: none; 
}

.logo{
    width: 10rem;
}

.navbar-nav{
    font-size: 1rem;
    .cartWidget{
        width: 2rem;
    }
}

#goCart{
    transition: all .2s ease-out;
    width: 100%;
    border: 1px solid $primary-color;
    height: 2rem;
    border-radius: 13px;
    background-color: $primary-color;
    color: #FFF;
}

.nav-link:hover{
    transform: translateY(-0.1rem);
    transition: all .1s ease-out;
}


#viewProduct{
    color: $primary-color;
    height: 2rem;
    transition: all .2s ease-out;
}

#addCart{
    color: $primary-color;
    border: 1px solid $primary-color;
}

#goCart:hover,
#viewProduct:hover,
#addCart:hover
{
    transform: translateY(-0.1rem);
}

#cardItemList{
    width: 12rem;
    height: 20rem;
    border: 1px solid $primary-color;
}

.cardButton{
    color: $primary-color;
    width: 2rem;
    height: 2rem;
    border: 1px solid $primary-color;
    transition: all .1s ease-in-out;
}

#goCart, #viewProduct, #addCart
{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    border-radius: 13px;
    transition: all .2s ease-out;
}

 
.cardButton:hover{
    border: 1px solid $primary-color;
}

.cardItem{
    border-radius: $rounded;
    padding: .5rem;
    transition: all 0.3s ease-in-out;
    .imgCard{
        width: 100%;
        border-radius: $rounded;
    }
    .textCard{
        h5{
            font-weight: 400;
        }
        h4{
            font-weight: 500;
        }
    } 
}

.imgItemMin{
    @extend .cardItem;
    height: 100%;
    
}

.ItemCount{
    height: 0;
    transform: scaleY(0);
    transition: all 0.2s ease-out;
}

.cardItem:hover{
    cursor: pointer;
    transform: scale(1.01);
    box-shadow:
    0px 0px 2.1px rgba(0, 0, 0, 0.035),
    0px 0px 17px rgba(0, 0, 0, 0.07)
    ;
}

.itemDetail{
    border-radius: $rounded;
    box-shadow:
    0px 0px 2.1px rgba(0, 0, 0, 0.035),
    0px 0px 17px rgba(0, 0, 0, 0.07);
    img{
        border-radius: $rounded;
    }
}

.bgBody{  
    display: block;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

.bgBody::after{
    background-color: $background-color;
    background-repeat: repeat;
    opacity: 1;
    overflow: hidden;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}


.borrar{
    background-color: $primary-color;
    color: #FFF;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1rem;
    transition: all 0.2s ease-out;
}

.borrar:hover,
.checkOut:hover,
.removeAll:hover{
    transform: translateY(-.2rem);
}

.borrar > *{
    font-size: 1.3rem;
}

.checkOut{
    background-color: $primary-color;
    border-radius: $rounded;
    border: none;
    padding: 0.5rem;
    width: 10rem;
    font-size: 1rem;
    color: #FFF;
    transition: all 0.2s ease-out;
}

.removeAll{
    background-color: $background-color;
    color: $primary-color;
    border-radius: $rounded;
    border: 1px solid $primary-color;
    padding: 0.5rem;
    width: 10rem;
    font-size: 1rem;
    transition: all 0.2s ease-out;
}

.removeAllDiv{
    position: absolute;
    left: 15%;
}

.checkOutDiv{
    position: absolute;
    right: 15%;
}

.footerCartBg{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        height: 5em;
        bottom: 0rem;
        background-color: $background-color;              
}

.footerCart{
    background-color: $background-color;
    border-radius: $rounded;
    height: 4rem;
    padding: 0.7rem;
    box-shadow:
            0px 0px 1.1px rgba(0, 0, 0, 0.013),
            0px 0px 2.9px rgba(0, 0, 0, 0.02),
            0px 0px 5.8px rgba(0, 0, 0, 0.025),
            0px 0px 12px rgba(0, 0, 0, 0.031),
            0px 0px 33px rgba(0, 0, 0, 0.04);
}

.cart{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 6rem;
}

.CountButtonCart{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.App{
    font-family: $font-primary;
}